:root{

    --ff-heading: 'Epilogue', sans-serif;
    --ff-texting: 'Open sans', sans-serif;
    
    --hue: 20;
    --bg-primary: hsl(var(--hue), 22%, 20%);
    --fc-primary: hsl(var(--hue), 0%, 100%);
    --fc-secondary: hsl(var(--hue), 50%, 80%);
    --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1);
    
    font-size: 62.5%;
    --fs-body:1.6rem;
    --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem)
    --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem)
    
    }
    body{
    
    
    font-family: var(--ff-texting);
    background-color: var(--fc-primary);
    color: var(--fc-primary);
    font-size: var(var(--fs-body));;
    }
    
    .box {
        color: white; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.6); /* Transparente */
        padding: 15px;
        border-radius: 15px;
        width: 20%;
    }
    
    
    
    legend {
        border: 1px solid var(--fc-secondary); 
        text-align: center;
        background-color: var(--fc-secondary); 
        border-radius: 8px;
        font-size: 26px;
    }
    
    .inputBox {
        position: relative;
    }
    
    .inputUser {
        background: none;
        border: none;
        border-bottom: 1px solid var(--fc-primary); 
        outline: none;
        color: var(--fc-primary);
        font-size: 15px;
        width: 100%;
        letter-spacing: 2px;
    }
    
    .labelInput {
        position: absolute;
        top: 0px;
        left: 0px;
        pointer-events: none;
        transition: 0.2s;
    }
    
    .inputUser:focus ~ .labelInput,
    .inputUser:valid ~ .labelInput {
        top: -20px;
        font-size: 18px;
        color: var(--fc-secondary); 
    }
  
    .inputsub {
        background-color: var(--fc-secondary); /* Botão com cor escura */
        width: 100%;
        border: none;
        padding: 15px;
        color: var(--fc-primary); /* Cor do texto do botão */
        font-size: 22px;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.3s;
    }
    
    .inputsub:hover {
        background-color: var(--fc-secondary); /* Muda a cor ao passar o mouse */
    }